.main {
  text-align: center;
}

.wrapper-login {
  margin: 20px;
}
.btn-save .btn-verify {
  left: 15px;
}
.font100 {
  font-size: 100px;
}
.start-timer {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  color: #368945f2;
  border: 1px solid #368945f2;
}
.start-timer:hover {
  background-color: #368945f2;
  color: #fffffff2;
  box-shadow: 0 0 2px darkslategray;
}
